* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: #0f172a;
    color: #e5e7eb;
    line-height: 1.6;
}
header {
    background: #020617;
    padding: 40px 20px;
    text-align: center;
}
header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}
header p {
    color: #94a3b8;
}
i {
    font-size: 40px;
}
section {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}
h2 {
    margin-bottom: 20px;
    border-left: 5px solid #38bdf8;
    padding-left: 10px;
}
.sobre {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
}
.sobre img {
    width: 100%;
    border-radius: 10px;
}
img {
    width:200px;
    height:200px;
    object-fit:contain;
}
.card-img {
    width: 400px;
    height: 400px;
}
.projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-evenly;
    gap: 20px;
}
.card {
    background: #1b747a;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
    text-align: center;
    flex-direction: column;
}
.card-content {
  flex: 1;
}
.badges {
  margin-top: 16px;
}
.card h3 {
    margin-bottom: 10px;
    color: #38bdf8;
}
.card a {
    display: inline-block;
    margin-top: 10px;
    color: #38bdf8;
    text-decoration: none;
}
.cardLogos{
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.cardLogos h3 {
    margin-bottom: 10px;
    color: #38bdf8;
}
.cardLogos p {
    color: #020617;
}
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    color: #64748b;
    margin-top: 40px;
}
@media (max-width: 768px) {
    .sobre {
    grid-template-columns: 1fr;
    }
}
.contato-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 20px;
}
.contato-links a {
    text-decoration: none;
    font-size: 40px;
    color: #e5e7eb;
    transition: transform 0.2s, color 0.2s;
}
.badges {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
}
.badge {
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 12px;
    font-weight: 500;
}
.badge-linguagens {
    background-color: #070707;
    color: #e9eef0;
}
.badge-bibliotecas {
    background-color: #ffe8a8;
    color: #000000;
}
.badge-frameworks {
    background-color: #f3f59a;
    color: #000000;
}
.badge-ferramentas {
    background-color: #96d694;
    color: #000000;
}
.badge-ci {
    background-color: #a5e4e4;
    color: #000000;
}
.badge-versionamento {
    background-color: #96b3df;
    color: #000000;
}
.badge-documentacao {
    background-color: #c2b4e4;
    color: #000000;
}
.badge-tecnologia {
    background-color: #e2b8dd;
    color: #000000;
}
.badge-so {
    background-color: #df8882;
    color: #000000;
}
.badge-database {
    background-color: #cec9c7;
    color: #000000;
}
.badge-monitoramento {
    background-color: #9eddda;
    color: #000000;
}
.badge-metodologia {
    background-color: #b694ac;
    color: #000000;
}
