---
layout: default
---

<div class="card">
  <h3 class="card-title text-center">APM</h3>
  <div class="card-body">
    <p class="card-text">
      {% assign objects = site.data.apm %}
      {% include conhecimento.html %}
    </p>
  </div>
</div>

<div class="card">
  <h3 class="card-title text-center">Databases</h3>
  <div class="card-body">
    <p class="card-text">
      {% assign objects = site.data.databases %}
      {% include conhecimento.html %}
    </p>
  </div>
</div>

<div class="card">
  <h3 class="card-title text-center">Ferramentas</h3>
  <div class="card-body">
    <p class="card-text">
      {% assign objects = site.data.ferramentas %}
      {% include conhecimento.html %}
    </p>
  </div>
</div>

<div class="card">
  <h3 class="card-title text-center">Linguagens</h3>
  <div class="card-body">
    <p class="card-text">
      {% assign objects = site.data.linguagens %}
      {% include conhecimento.html %}
    </p>
  </div>
</div>

<div class="card">
  <h3 class="card-title text-center">Performance</h3>
  <div class="card-body">
    <p class="card-text">
      {% assign objects = site.data.performance %}
      {% include conhecimento.html %}
    </p>
  </div>
</div>

<div class="card">
  <h3 class="card-title text-center">Sistemas Operacionais</h3>
  <div class="card-body">
    <p class="card-text">
      {% assign objects = site.data.so %}
      {% include conhecimento.html %}
    </p>
  </div>
</div>

<div class="card">
  <h3 class="card-title text-center">Tecnologias</h3>
  <div class="card-body">
    <p class="card-text">
      {% assign objects = site.data.tecnologias %}
      {% include conhecimento.html %}
    </p>
  </div>
</div>